from base import BaseConfig

class LocalConfig(BaseConfig):
    WTF_CSRF_SECRET_KEY = "very secret"
    SECRET_KEY = "very secret"

    UPLOAD_FOLDER = "/path/to/upload/folder"
    ALLOWED_EXTENSIONS = set(["pdf"])
