body {
    background-color: #fff;
}

html {
    overflow-y: scroll;
}

#header {
    background: #4c1f70;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4c1f70, #5c1860);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4c1f70, #5c1860); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#menu {
    padding: 5px;
}

#menu ul {
    display: block;
    list-style-type: none;
}

#menu ul li {
    margin-left: 20px;
    margin-bottom: 5px;
    float: left;
}

#menu ul li:first-child {
    margin-left: 0;
}

#menu ul li a {
    color: #fff;
    font-family: Helvetica, sans-serif;
}

#upload-container {
    padding-top: 20px;
}

#search-bar-container {
    padding: 5px 0 20px 0;
}

#search-result-container {
    padding-top: 20px;
}

.section-title {
    padding-bottom: 30px;
}

.search-result-item {
    margin-top: 15px;
}


.file-title {
    font-family: serif;
    font-size: 18px;
    margin-bottom: 5px;
}

.file-tags {
    color: #aeaeae;
    font-size: 12px;
}

.errors li {
    color: #f44259;
    list-style: none;
}

.file-edit-wrapper a {
    color: #aeaeae;
    font-size: 12px;
}

#success-text {
    color: #097558;
    font-size: 18px;
}

.category-title {
  font-size: 12px;
  color: #aeaeae;
  margin-bottom: 0;
}

.text-align-right {
    text-align: right;
}



#pdf-canvas {
    border: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
}

#search-field {
    border: none;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-radius: 0px;
    padding-left: 0;
    font-size: 18px;
    font-family: Helvetica, sans-serif;
}