body {
    background-color: #fff;
}

html {
    overflow-y: scroll;
}

#menu {
    background-color: #1e2126;
    padding: 5px;
}

#menu ul {
    display: block;
    list-style-type: none;
}

#menu ul li {
    margin-left: 20px;
    float: left;
}

#menu ul li:first-child {
    margin-left: 0;
}

#menu ul li a {
    color: #999999;
}

#upload-container {
    padding-top: 20px;
}

#search-bar-container {
    padding: 5px 0 20px 0;
    margin-top: -25px;
    background-color: #1e2126;
}

#search-result-container {
    padding-top: 20px;
}

.section-title {
    padding-bottom: 30px;
}

.search-result-item {
    margin-top: 15px;
}


.file-title {
    font-family: Palatino, serif;
    font-size: 18px;
    margin-bottom: 5px;
}

.file-tags {
    color: #aeaeae;
    font-size: 12px;
}

.errors li {
    color: #f44259;
    list-style: none;
}

.file-edit-wrapper a {
    color: #aeaeae;
    font-size: 12px;
}

#success-text {
    color: #097558;
    font-size: 18px;
}

.category-title {
  font-size: 12px;
  color: #aeaeae;
  margin-bottom: 0;
}

.text-align-right {
    text-align: right;
}



#pdf-canvas {
    border: 1px solid rgba(0,0,0,0.2);
    box-sizing: border-box;
}

#search-field {
    border: none;
    background-color: transparent;
    color: #fff;
    border-bottom: 1px solid #999999;
    border-radius: 0px;
    padding-left: 0;
    font-size: 18px;
    font-family: Palatino, serif;
}