body {
    background-color: #fff;
}

#menu {
    background-color: #f6f6f6;
    padding: 5px;
}

#menu ul {
    display: block;
    list-style-type: none;
}

#menu ul li {
    margin-left: 20px;
    float: left;
}

#menu ul li:first-child {
    margin-left: 0;
}

#menu ul li a {
    color: black;
}

#upload-container {
    padding-top: 20px;
}

#search-bar-container {
    padding: 5px 0 5px 0;
    background-color: #f6f6f6;
}

#search-result-container {
    padding-top: 20px;
}

.section-title {
    padding-bottom: 30px;
}

.search-result-item {
    margin-top: 15px;
}


.file-title {
    font-size: 18px;
    margin-bottom: 5px;
}

.file-tags {
    color: #aeaeae;
    font-size: 12px;
}

.errors li {
    color: #f44259;
    list-style: none;
}

.file-edit a {
    color: #aeaeae;
}

#success-text {
    color: #00c677;
    font-size: 18px;
}

.category-title {
  font-size: 12px;
}
