{% extends "base.jinja2" %}
{% block pageTitle %} upload {% endblock %}
{% block body %}
<div class="container section" id="upload-container">
  <div class="row">
    <h4 class="section-title">Edit {{ form.file_title.data }}</h4>
    {% if successful %}
    <p> The file was successfully edited! </p>
    {% endif %}
    {% if errors %}
    <div class="row" id="errors">
	 <ul>
	 {% for error in errors %}
	    <li class="error-message">{{ error }}</li>
	 {% endfor %}
	 </ul>
    </div>
    {% endif %}
    <form method=post enctype=multipart/form-data>
      {% from "_formhelpers.jinja2" import render_field %}
          {{ form.csrf_token }}
	  {{ render_field(form.uploaded_file) }}
	  {{ render_field(form.file_title) }}
	  {{ render_field(form.categories) }}
	  {{ render_field(form.tags) }}
	<p><input type=submit value="Save changes">
    </form>
  </div>
</div>
{% endblock %}
