<!DOCTYPE html>
<html ng-app="FileSearch">
  <head>
    <meta charset="UTF-8">
    <title>title</title>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-route.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}"></script>
</head>
<body ng-controller="FileSearchController">
  <div class="container section" id="main-container">
    <div class="row">
      <form role="form" ng-submit="getResults()">
	<div class="form-group eight columns">
	  <input type="text" name="query" class="form-control" placeholder="Find file..." style="width: 100%" ng-model="query" required>
	</div>
	<div class="four columns">
	  <button type="submit" class="btn btn-default">Submit</button>
	</div>
      </form>
    </div>
      {% raw %}
      <div class="row" ng-repeat="file in matchingFiles">
	<a class="file-link" href="/static/{{ file[2] }}" target="_blank"><h4 class="file-title"> {{ file[0] }} </a></h4>
	<p class="file-category"> {{ file[1] }} </p>
      </div>
      {% endraw %}
  </div>
</body>
</html>
