{% extends "base.jinja2" %}
{% block pageTitle %} upload {% endblock %}
{% block body %}
<div class="container section" id="upload-container">
  <div class="row">
    <h4 class="section-title">Upload new file</h4>
    <form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <div class="row">
	<label for="title">Title*</label>
	<input type="text" name="title" placeholder="Title" required>
    </div>
    {% if all_categories %}
    <div class="row">
	 <label for="category">Category*</label>
	 <select name="category" required>>
		{% for category in all_categories %}
		<option value="{{ category.0 }}">{{ category.1 }}</option>
		{% endfor %}
	 </select>
    </div>
    {% endif %}
    <div class="row">
	<label for="tags">Tags (separated by spaces)</label>
	<textarea rows="4"  name="tags" placeholder="Tags"></textarea>
    </div>
    <div class="row">
	<input type=submit value=Upload>
    </div>
    </form>
  </div>
</div>
{% endblock %}
